/// Sass Home Page
/// @author Diogo Cezar <diogo@diogocezar.com>

// Charset
@charset 'utf-8';

// Imports
@import '../base/includes/mixins.scss';
@import '../base/includes/sizes.scss';
@import '../base/includes/colors.scss';
@import '../base/includes/fonts.scss';

body{
	color: $color-white;
	background-color: $color-black;
	font-size: 14px;
	@include responsive(s1){
		font-size: 12px;
	}
	@include responsive(s3){
		font-size: 10px;
	}
}

/* Extends */

.bgs{
	position: relative;
	float: left;
	width: 100%;
	background-position: top center;
	background-size: cover;
}

.title-big{
	margin-top: 60px;
	font-size: 6em;
	font-family: $font-secondary!important;
	color: $color-white!important;
	position: relative;
	float: left;
	width: 100%;
	text-align: center;
}

#home{
	background-image: url('../../../images/bg-lg-01.jpg');
	height: 1124px;
	@extend .bgs;
	@include responsive(s1){
		background-image: url('../../../images/bg-md-01.jpg');
		height: 703px;
	}
	@include responsive(s3){
		background-image: url('../../../images/bg-sm-01.jpg');
		height: 450px;
	}
	/* Menu */
	nav{
		margin-top: 10em;
		margin-left: 15em;
		margin-right: 17em;
		ul{
			margin: 0;
			padding: 0;
			display: flex;
			justify-content: space-between;
			width: 100%;
			align-items: center;
			li{
				list-style: none;
				a{
					font-size: 2.7em;
					color: rgba(255, 255, 255, 0.9);
					font-family: $font-primary;
					font-weight: normal;
				}
			}
		}
		@include responsive(s1){
			margin-top: 7.5em;
			margin-left: 16em;
			margin-right: 18em;
			ul{
				li{
					a{
						font-size: 2.2em;
					}
				}
			}
		}
		@include responsive(s2){
			margin-top: 7.5em;
			margin-left: 10em;
			margin-right: 12em;
			ul{
				li{
					a{
						font-size: 2em;
					}
				}
			}
		}
		@include responsive(s3){
			display:none;
		}
	}
	/* Social Icons */
	.social-icons{
		position: relative;
		margin-top: 47em;
		margin-left: 6em;
		margin-right: 9em;
		ul{
			margin: 0;
			padding: 0;
			display: flex;
			justify-content: space-between;
			width: 100%;
			align-items: center;
			li{
				list-style: none;
				a{
					img{
						height: 100px;
						width: 100px;
					}
				}
			}
		}
		@include responsive(s1){
			ul{
				li{
					a{
						img{
							height: 60px;
							width: 60px;
						}
					}
				}
			}
			margin-left: 16em;
			margin-right: 18em;
			margin-top: 35em;
		}
		@include responsive(s2){
			ul{
				li{
					a{
						img{
							height: 50px;
							width: 50px;
						}
					}
				}
			}
			margin-left: 7em;
			margin-right: 8em;
			margin-top: 35em;
		}
		@include responsive(s3){
			margin-left: 5em;
			margin-right: 5em;
		}
		@include responsive(s4){
			margin-left: 1em;
			margin-right: 1em;
		}
		@include responsive(s5){
			margin-left: 0em;
			margin-right: 0em;
		}
	}
}

#group-bg{
	background-image: url('../../../images/bg-lg-02.jpg');
	height: 1624px;
	@extend .bgs;
	@include responsive(s1){
		background-image: url('../../../images/bg-md-02.jpg');
		height: 1015px;
	}
	@include responsive(s3){
		background-image: url('../../../images/bg-sm-02.jpg');
		height: 650px;
	}
	#videos{
		h1{
			@extend .title-big;
			margin-top: 0.5em;
		}
		h2{
			@extend .title-big;
			font-size: 4em;
			margin-top: 0.1em;
		}
		.box-video{
			display: flex;
			justify-content: center;
			align-items: center;
			position: relative;
			float: left;
			width: 100%;
			margin-top: 3em;
			.video-decoration{
				padding: 30px;
				background-image: url('../../../images/bg-video.png');
				background-position: center center;
				background-size: cover;
				width: 58em;
				height: 28em;
				display: flex;
				justify-content: center;
				align-items: center;
				position: relative;
				float: left;
				.video{
					border: 15px solid black;
					border-top-width: 5px;
					border-bottom-width: 5px;
					height: 100%;
					width: 93%;
					margin-left: 25px;
				}
			}
		}
	}
	#agenda{
		h1{
			@extend .title-big;
			margin-top: 1.5em!important;
			margin-bottom: 1.3em!important;
			@include responsive(s1){
				margin-top: 0.7em!important;
				margin-bottom: 0.7em!important;
			}
		}
		.row{
			margin: 0px;
			margin-bottom: 40px;
		}
		.item{
			h1{
				margin-top: 0!important;
				margin-bottom: 5px!important;
				font-size: 8em!important;
				text-align: left;
			}
			h2{
				font-size: 4em;
				font-family: $font-secondary!important;
				color: $color-white!important;
				position: relative;
				float: left;
				width: 100%;
				margin-top: -0.3em;
			}
			.line-1{
				margin-top: -0.3em;
			}
			.line-3{
				font-family: $font-primary-bold;
			}
			.line{
				position: relative;
				float: left;
				width: 100%;
				font-size: 2em;
				margin: 0px;
				line-height: 1em;
			}
			.col-agenda{
				padding: 0px 30px;
				border-left: 2px solid $color-white;
			}
		}
	}
}

#blog{
	background-image: url('../../../images/bg-lg-03.jpg');
	height: 580px;
	@extend .bgs;
	@include responsive(s1){
		background-image: url('../../../images/bg-md-03.jpg');
		height: 363px;
	}
	@include responsive(s3){
		background-image: url('../../../images/bg-sm-03.jpg');
		height: 232px;
	}
	.item{
		text-align: center;
		img{
			width: 95%;
			margin: 0 auto;
			margin-top: 2.45em;
			@include responsive(s1){
				width: 70%;
			}
		}
		h1{
			text-align: left;
			margin-top: 1em;
			font-family: $font-primary;
			color: $color-white;
			font-size: 4em;
			max-width: 320px;
			margin-bottom: 0em;
			@include responsive(s1){
				font-size: 3em;
			}
		}
		h2{
			text-align: left;
			margin-top: 0.5em;
			font-family: $font-primary-bold;
			color: $color-white;
			font-size: 2em;
			max-width: 320px;
			margin-bottom: 1em;
		}
		p{
			text-align: left;
			font-size: 0.9em;
			text-transform: none;
			max-width: 400px;
			font-family: $font-tertiary;
		}
	}
}

#contact{
	h1{
		@extend .title-big;
	}
	h2{
		position: relative;
		float: left;
		margin-top:40px;
		font-size: 2.5em;
		width: 100%;
		a{
			color: $color-white!important;
			font-family: $font-primary-light!important;
			font-size:1em;
			font-weight: normal;
			text-align: center;
			letter-spacing: 2px;
			width: 100%;
			position: relative;
			float: left;
			span{
				font-family: $font-primary-bold!important;
			}
		}
	}
	h3{
		color: $color-white!important;
		font-family: $font-primary-light!important;
		font-size:2em;
		font-weight: normal;
		text-align: center;
		letter-spacing: 2px;
		width: 100%;
		position: relative;
		float: left;
		span{
			font-family: $font-primary-bold!important;
		}
	}
	footer{
		position: relative;
		float: left;
		width:100%;
		margin-top: 5em;
		padding-left: 17em;
		padding-right: 17em;
		ul{
			margin: 0;
			padding: 0;
			display: flex;
			justify-content: space-between;
			width: 100%;
			align-items: center;
			li{
				list-style: none;
			}
		}
	}
	background-image: url('../../../images/bg-lg-04.jpg');
	height: 516px;
	@extend .bgs;
	@include responsive(s1){
		background-image: url('../../../images/bg-md-04.jpg');
		height: 323px;
	}
	@include responsive(s3){
		background-image: url('../../../images/bg-sm-04.jpg');
		height: 207px;
	}
}
