/// Sass Home Page
/// @author Diogo Cezar <diogo@diogocezar.com>

// Charset
@charset 'utf-8';

// Imports
@import '../base/includes/mixins.scss';
@import '../base/includes/sizes.scss';
@import '../base/includes/colors.scss';
@import '../base/includes/fonts.scss';

body{
	color: $color-white;
	background-color: $color-black;
	font-size: 14px;
	@include responsive(s1){
		font-size: 12px;
	}
	@include responsive(s3){
		font-size: 10px;
	}
}

/* Extends */

.bgs{
	position: relative;
	float: left;
	width: 100%;
	background-position: top center;
	background-size: cover;
}

.title-big{
	margin-top: 60px;
	font-size: 6em;
	font-family: $font-secondary!important;
	color: $color-white!important;
	position: relative;
	float: left;
	width: 100%;
	text-align: center;
	text-shadow: 4px 5px 8px rgba(0, 0, 0, 0.4);
}

#home{
	background-image: url('../../../images/bg-lg-01.jpg');
	height: 1124px;
	@extend .bgs;
	@include responsive(s1){
		background-image: url('../../../images/bg-md-01.jpg');
		height: 703px;
	}
	@include responsive(s3){
		background-image: url('../../../images/bg-sm-01.jpg');
		height: 450px;
	}
	/* Menu */
	nav{
		margin-top: 10em;
		margin-left: 15em;
		margin-right: 17em;
		ul{
			margin: 0;
			padding: 0;
			display: flex;
			justify-content: space-between;
			width: 100%;
			align-items: center;
			li{
				list-style: none;
				a{
					position:relative;
					float: left;
					font-size: 2.7em;
					color: rgba(255, 255, 255, 0.9);
					text-shadow: 4px 5px 8px rgba(0, 0, 0, 0.4);
					font-family: $font-primary;
					font-weight: normal;
					&::after{
						position: absolute;
						top: 100%;
						left: 0;
						width: 100%;
						height: 4px;
						background: rgba(255,255,255,0.9);
						content: '';
						opacity: 0;
						-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
						-moz-transition: opacity 0.3s, -moz-transform 0.3s;
						transition: opacity 0.3s, transform 0.3s;
						-webkit-transform: translateY(10px);
						-moz-transform: translateY(10px);
						transform: translateY(10px);
						@include responsive(s1){
							height: 2px;
						}
					}
					&:hover::after,
					&:focus::after{
						opacity: 1;
						-webkit-transform: translateY(0px);
						-moz-transform: translateY(0px);
						transform: translateY(0px);
					}
				}
			}
		}
		@include responsive(s1){
			margin-top: 7.5em;
			margin-left: 16em;
			margin-right: 18em;
			ul{
				li{
					a{
						font-size: 2.2em;
					}
				}
			}
		}
		@include responsive(s2){
			margin-top: 7.5em;
			margin-left: 10em;
			margin-right: 12em;
			ul{
				li{
					a{
						font-size: 2em;
					}
				}
			}
		}
		@include responsive(s3){
			display:none;
		}
	}
	/* Social Icons */
	.social-icons{
		position: relative;
		margin-top: 47em;
		margin-left: 6em;
		margin-right: 9em;
		ul{
			margin: 0;
			padding: 0;
			display: flex;
			justify-content: space-between;
			width: 100%;
			align-items: center;
			li{
				list-style: none;
				a{
					position: relative;
					float: left;
					img{
						height: 100px;
						width: 100px;
					}
				}
			}
		}
		@include responsive(s1){
			ul{
				li{
					a{
						img{
							height: 60px;
							width: 60px;
						}
					}
				}
			}
			margin-left: 16em;
			margin-right: 18em;
			margin-top: 35em;
		}
		@include responsive(s2){
			ul{
				li{
					a{
						img{
							height: 50px;
							width: 50px;
						}
					}
				}
			}
			margin-left: 7em;
			margin-right: 8em;
			margin-top: 35em;
		}
		@include responsive(s3){
			margin-left: 5em;
			margin-right: 5em;
		}
		@include responsive(s4){
			margin-left: 1em;
			margin-right: 1em;
		}
		@include responsive(s5){
			margin-left: 0em;
			margin-right: 0em;
		}
	}
	// Ivana
	.button--ivana{
		&::before,
		&::after{
		    position: absolute;
		    top: 50%;
		    left: 50%;
		    margin: -50px 0 0 -50px;
		    width: 100px;
		    height: 100px;
		    border-radius: 50%;
		    content: '';
		    opacity: 0;
		    pointer-events: none;
		    box-shadow: 0 0 0 10px $color-white;
			@include responsive(s1) {
			    margin: -30px 0 0 -30px;
			    width: 60px;
			    height: 60px;
			}
		}
		&:hover::before{
			-webkit-animation: animation-button-ivana-1 0.5s forwards;
			animation: animation-button-ivana-1 0.5s forwards;
		}
		&:hover::after{
			-webkit-animation: animation-button-ivana-2 0.8s forwards;
			animation: animation-button-ivana-2 0.8s forwards;
			animation-delay: 0.1s;
			-webkit-animation-delay: 0.1s;
		}
	}
}

#group-bg{
	background-image: url('../../../images/bg-lg-02.jpg');
	height: 1624px;
	@extend .bgs;
	@include responsive(s1){
		background-image: url('../../../images/bg-md-02.jpg');
		height: 1015px;
	}
	@include responsive(s3){
		background-image: url('../../../images/bg-sm-02.jpg');
		height: 868px;
	}
	#videos{
		h1{
			@extend .title-big;
			margin-top: 0.5em;
			@include responsive(s1){
				font-size: 4.5em;
			}
			@include responsive(s2){
				font-size: 4em;
			}
		}
		h2{
			@extend .title-big;
			font-size: 4em;
			margin-top: 0.1em;
			@include responsive(s1){
				font-size: 3em;
			}
			@include responsive(s4){
				font-size: 2em;
			}
		}
		.box-video{
			display: flex;
			justify-content: center;
			align-items: center;
			position: relative;
			float: left;
			width: 100%;
			margin-top: 3em;
			@include responsive(s1){
				margin-top: 2em;
			}
			.video-decoration{
				padding: 30px;
				background-image: url('../../../images/bg-video.png');
				background-position: center center;
				background-size: cover;
				width: 58em;
				height: 28em;
				display: flex;
				justify-content: center;
				align-items: center;
				position: relative;
				float: left;
				@include responsive(s2){
					padding:0px;
					background-image: none;
					width: 53em;
					height: 28em;
				}
				@include responsive(s3){
					width: 100%;
				}
				.video{
					border: 15px solid black;
					border-top-width: 5px;
					border-bottom-width: 5px;
					height: 110%;
					width: 93%;
					margin-left: 25px;
					border-radius: 21px;
					@include responsive(s1){
						border: 15px solid black;
						border-top-width: 5px;
						border-bottom-width: 5px;
						height: 114%;
						width: 94%;
						margin-left: 25px;
						border-radius: 15px;
					}
					@include responsive(s2){
						border:none;
						border-radius: 0px;
						height: 100%;
						width: 100%;
						margin: 0px;
					}
				}
			}
		}
	}
	#agenda{
		h1{
			@extend .title-big;
			margin-top: 0.9em!important;
			margin-bottom: 0.9em!important;
			@include responsive(s1){
				margin-top: 0.7em!important;
				margin-bottom: 0.7em!important;
				font-size: 4.5em;
			}
			@include responsive(s2){
				font-size: 4em;
			}
		}
		.row{
			margin: 0px;
			margin-bottom: 40px;
		}
		.last-row{
			margin:0px;
		}
		.item{
			h1{
				text-shadow: none!important;
				margin-top: 0!important;
				margin-bottom: 5px!important;
				font-size: 8em;
				text-align: left;
			}
			h2{
				font-size: 4em;
				font-family: $font-secondary!important;
				color: $color-white!important;
				position: relative;
				float: left;
				width: 100%;
				margin-top: -0.3em;
			}
			.line-1{
				margin-top: -0.3em;
			}
			.line-3{
				font-family: $font-primary-bold;
			}
			.line{
				position: relative;
				float: left;
				width: 100%;
				font-size: 2em;
				margin: 0px;
				line-height: 1em;
			}
			.col-agenda{
				padding: 0px 30px;
				border-left: 2px solid $color-white;
			}
		}
		.carrousel-agenda-mobile{
			.item{
			position: relative;
			float: left;
			width: 75%;
			padding: 3em;
			border: 1px solid #fff;
			margin-left: 12.4%;
			margin-right: 5%;
			text-align: center !important;
				h1{
					font-size: 6em!important;
					text-align: center!important;
				}
				h2{
					font-size: 3em!important;
					text-align: center!important;
				}
			}
		}
	}
}

#blog{
	background-image: url('../../../images/bg-lg-03.jpg');
	height: 580px;
	@extend .bgs;
	@include responsive(s1){
		background-image: url('../../../images/bg-md-03.jpg');
		height: 363px;
	}
	@include responsive(s3){
		background-image: url('../../../images/bg-sm-03.jpg');
		height: 232px;
	}
	.item{
		text-align: center;
		margin-top: 4em;
		@include responsive(s2){
			margin-top: 3em;
		}
		@include responsive(s3){
			margin-top: 1.5em;
		}
		img{
			width: 80%;
			margin: 0 auto;
			margin-bottom: 12px;
			box-shadow: 7px 4px 8px 0px rgba(0, 0, 0, 0.39);
			@include responsive(s1){
				width: 60%;
			}
		}
		h1{
			text-align: left;
			margin-top: 0em;
			font-family: $font-primary;
			color: $color-white;
			font-size: 4em;
			max-width: 320px;
			margin-bottom: 0em;
			text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
			@include responsive(s1){
				font-size: 3em;
				max-width: initial;
			}
			@include responsive(s3){
				font-size: 2.5em;
				margin-bottom: 0.5em;
			}
		}
		h2{
			text-align: left;
			margin-top: 0.5em;
			font-family: $font-primary-bold;
			color: $color-white;
			font-size: 2em;
			max-width: 320px;
			margin-bottom: 1em;
			text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
			@include responsive(s1){
				font-size: 1.5em;
				max-width: initial;
				margin-bottom: 0.5em;
			}
			@include responsive(s3){
				display: none;
			}
		}
		p{
			text-align: left;
			font-size: 0.9em;
			text-transform: none;
			max-width: 400px;
			font-family: $font-tertiary;
			@include responsive(s3){
				font-size: 1em;
				max-width: initial;
			}
			@include responsive(s4){
				font-size: 0.95em;
				max-width: initial;
			}
			@include responsive(s5){
				font-size: 0.9em;
				max-width: initial;
			}
		}
		.box-button{
			position: relative;
			float: left;
			display: block;
			width: 100%;
			@include responsive(s3){
				display: flex;
				justify-content: center;
				align-items: center;
			}
		}
		button{
			position: relative;
			float: left;
			border: 1px solid $color-white;
			background-color: transparent;
			padding: 10px 15px;
			font-size: 1.8em;
			margin-top: 1em;
			margin-bottom: 1em;
			color: $color-white;
			@include transition(0.25s);
			&:hover{
				background-color: $color-white;
				color: $color-dark-blue;
			}
			@include responsive(s1){
				padding: 5px 10px;
				font-size: 1.5em;
			}
			@include responsive(s2){
				width: 140px;
				margin-left: 100px;
				margin: 0 auto;
				margin-top: 0.6em;
				margin-bottom: 0.6em;
			}
		}
	}
}

#contact{
	h1{
		@extend .title-big;
		@include responsive(s1){
			font-size: 4.5em;
			margin-top: 1em;
			margin-bottom: 0px;
		}
		@include responsive(s2){
			font-size: 4em;
		}
	}
	h2{
		position: relative;
		float: left;
		margin-top:40px;
		font-size: 2.5em;
		width: 100%;
		@include responsive(s1){
			font-size: 2em;
			margin-top: 0.8em;
			margin-bottom: 0px;
		}
		a{
			color: $color-white!important;
			font-family: $font-primary-light!important;
			font-size:1em;
			font-weight: normal;
			text-align: center;
			letter-spacing: 2px;
			width: 100%;
			position: relative;
			float: left;
			span{
				font-family: $font-primary-bold!important;
			}
		}
	}
	h3{
		color: $color-white!important;
		font-family: $font-primary-light!important;
		font-size:2em;
		font-weight: normal;
		text-align: center;
		letter-spacing: 2px;
		width: 100%;
		position: relative;
		float: left;
		span{
			font-family: $font-primary-bold!important;
		}
	}
	footer{
		position: relative;
		float: left;
		width:100%;
		margin-top: 5em;
		padding-left: 17em;
		padding-right: 17em;
		@include responsive(s1){
			margin-top: 2em;
		}
		@include responsive(s2){
			margin-top: 2em;
			padding-left: 2em;
			padding-right: 2em;
		}
		@include responsive(s3){
			margin-top: 1em;
			padding-left: 1em;
			padding-right: 1em;
		}
		ul{
			margin: 0;
			padding: 0;
			display: flex;
			justify-content: space-between;
			width: 100%;
			align-items: center;
			li{
				list-style: none;
				a{
					img{
						@include transition(0.15s);
						@include responsive(s2){
							height: 60px;
						}
						&:hover{
							@include scale(0.9);
						}
					}
				}
			}
		}
	}
	background-image: url('../../../images/bg-lg-04.jpg');
	height: 516px;
	@extend .bgs;
	@include responsive(s1){
		background-image: url('../../../images/bg-md-04.jpg');
		height: 323px;
	}
	@include responsive(s3){
		background-image: url('../../../images/bg-sm-04.jpg');
		height: 207px;
	}
}
