@font-face {
  font-family: "BebasNeueBold";
  src: url("../../../fonts/BebasNeueBold.eot?") format("eot"), url("../../../fonts/BebasNeueBold.woff") format("woff"), url("../../../fonts/BebasNeueBold.ttf") format("truetype"), url("../../../fonts/BebasNeueBold.svg#BebasNeueBold") format("svg"); }

@font-face {
  font-family: "BebasNeueLight";
  src: url("../../../fonts/BebasNeueLight.eot?") format("eot"), url("../../../fonts/BebasNeueLight.woff") format("woff"), url("../../../fonts/BebasNeueLight.ttf") format("truetype"), url("../../../fonts/BebasNeueLight.svg#BebasNeueLight") format("svg"); }

@font-face {
  font-family: "BebasNeueRegular";
  src: url("../../../fonts/BebasNeueRegular.eot?") format("eot"), url("../../../fonts/BebasNeueRegular.woff") format("woff"), url("../../../fonts/BebasNeueRegular.ttf") format("truetype"), url("../../../fonts/BebasNeueRegular.svg#BebasNeueRegular") format("svg"); }

@font-face {
  font-family: "Neoneon";
  src: url("../../../fonts/Neoneon.eot?") format("eot"), url("../../../fonts/Neoneon.woff") format("woff"), url("../../../fonts/Neoneon.ttf") format("truetype"), url("../../../fonts/Neoneon.svg#Neoneon") format("svg"); }

body {
  color: #fff;
  background-color: #000;
  font-size: 14px; }
  @media only screen and (max-width: 1200px) {
    body {
      font-size: 12px; } }
  @media only screen and (max-width: 768px) {
    body {
      font-size: 10px; } }

/* Extends */
.bgs, #home, #group-bg, #blog, #contact {
  position: relative;
  float: left;
  width: 100%;
  background-position: top center;
  background-size: cover; }

.title-big, #group-bg #videos h1, #group-bg #videos h2, #group-bg #agenda h1, #contact h1 {
  margin-top: 60px;
  font-size: 6em;
  font-family: "Neoneon", sans-serif !important;
  color: #fff !important;
  position: relative;
  float: left;
  width: 100%;
  text-align: center; }

#home {
  background-image: url("../../../images/bg-lg-01.jpg");
  height: 1124px;
  /* Menu */
  /* Social Icons */ }
  @media only screen and (max-width: 1200px) {
    #home {
      background-image: url("../../../images/bg-md-01.jpg");
      height: 703px; } }
  @media only screen and (max-width: 768px) {
    #home {
      background-image: url("../../../images/bg-sm-01.jpg");
      height: 450px; } }
  #home nav {
    margin-top: 10em;
    margin-left: 15em;
    margin-right: 17em; }
    #home nav ul {
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: space-between;
      width: 100%;
      align-items: center; }
      #home nav ul li {
        list-style: none; }
        #home nav ul li a {
          font-size: 2.7em;
          color: rgba(255, 255, 255, 0.9);
          font-family: "BebasNeueRegular", sans-serif;
          font-weight: normal; }
    @media only screen and (max-width: 1200px) {
      #home nav {
        margin-top: 7.5em;
        margin-left: 16em;
        margin-right: 18em; }
        #home nav ul li a {
          font-size: 2.2em; } }
    @media only screen and (max-width: 992px) {
      #home nav {
        margin-top: 7.5em;
        margin-left: 10em;
        margin-right: 12em; }
        #home nav ul li a {
          font-size: 2em; } }
    @media only screen and (max-width: 768px) {
      #home nav {
        display: none; } }
  #home .social-icons {
    position: relative;
    margin-top: 47em;
    margin-left: 6em;
    margin-right: 9em; }
    #home .social-icons ul {
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: space-between;
      width: 100%;
      align-items: center; }
      #home .social-icons ul li {
        list-style: none; }
        #home .social-icons ul li a img {
          height: 100px;
          width: 100px; }
    @media only screen and (max-width: 1200px) {
      #home .social-icons {
        margin-left: 16em;
        margin-right: 18em;
        margin-top: 35em; }
        #home .social-icons ul li a img {
          height: 60px;
          width: 60px; } }
    @media only screen and (max-width: 992px) {
      #home .social-icons {
        margin-left: 7em;
        margin-right: 8em;
        margin-top: 35em; }
        #home .social-icons ul li a img {
          height: 50px;
          width: 50px; } }
    @media only screen and (max-width: 768px) {
      #home .social-icons {
        margin-left: 5em;
        margin-right: 5em; } }
    @media only screen and (max-width: 480px) {
      #home .social-icons {
        margin-left: 1em;
        margin-right: 1em; } }
    @media only screen and (max-width: 320px) {
      #home .social-icons {
        margin-left: 0em;
        margin-right: 0em; } }

#group-bg {
  background-image: url("../../../images/bg-lg-02.jpg");
  height: 1624px; }
  @media only screen and (max-width: 1200px) {
    #group-bg {
      background-image: url("../../../images/bg-md-02.jpg");
      height: 1015px; } }
  @media only screen and (max-width: 768px) {
    #group-bg {
      background-image: url("../../../images/bg-sm-02.jpg");
      height: 650px; } }
  #group-bg #videos h1 {
    margin-top: 0.5em; }
  #group-bg #videos h2 {
    font-size: 4em;
    margin-top: 0.1em; }
  #group-bg #videos .box-video {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    float: left;
    width: 100%;
    margin-top: 3em; }
    #group-bg #videos .box-video .video-decoration {
      padding: 30px;
      background-image: url("../../../images/bg-video.png");
      background-position: center center;
      background-size: cover;
      width: 58em;
      height: 28em;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      float: left; }
      #group-bg #videos .box-video .video-decoration .video {
        border: 15px solid black;
        border-top-width: 5px;
        border-bottom-width: 5px;
        height: 100%;
        width: 93%;
        margin-left: 25px; }
  #group-bg #agenda h1 {
    margin-top: 1.5em !important;
    margin-bottom: 1.3em !important; }
    @media only screen and (max-width: 1200px) {
      #group-bg #agenda h1 {
        margin-top: 0.7em !important;
        margin-bottom: 0.7em !important; } }
  #group-bg #agenda .row {
    margin: 0px;
    margin-bottom: 40px; }
  #group-bg #agenda .item h1 {
    margin-top: 0 !important;
    margin-bottom: 5px !important;
    font-size: 8em !important;
    text-align: left; }
  #group-bg #agenda .item h2 {
    font-size: 4em;
    font-family: "Neoneon", sans-serif !important;
    color: #fff !important;
    position: relative;
    float: left;
    width: 100%;
    margin-top: -0.3em; }
  #group-bg #agenda .item .line-1 {
    margin-top: -0.3em; }
  #group-bg #agenda .item .line-3 {
    font-family: "BebasNeueBold", sans-serif; }
  #group-bg #agenda .item .line {
    position: relative;
    float: left;
    width: 100%;
    font-size: 2em;
    margin: 0px;
    line-height: 1em; }
  #group-bg #agenda .item .col-agenda {
    padding: 0px 30px;
    border-left: 2px solid #fff; }

#blog {
  background-image: url("../../../images/bg-lg-03.jpg");
  height: 580px; }
  @media only screen and (max-width: 1200px) {
    #blog {
      background-image: url("../../../images/bg-md-03.jpg");
      height: 363px; } }
  @media only screen and (max-width: 768px) {
    #blog {
      background-image: url("../../../images/bg-sm-03.jpg");
      height: 232px; } }
  #blog .item {
    text-align: center; }
    #blog .item img {
      width: 95%;
      margin: 0 auto;
      margin-top: 2.45em; }
      @media only screen and (max-width: 1200px) {
        #blog .item img {
          width: 70%; } }
    #blog .item h1 {
      text-align: left;
      margin-top: 1em;
      font-family: "BebasNeueRegular", sans-serif;
      color: #fff;
      font-size: 4em;
      max-width: 320px;
      margin-bottom: 0em; }
      @media only screen and (max-width: 1200px) {
        #blog .item h1 {
          font-size: 3em; } }
    #blog .item h2 {
      text-align: left;
      margin-top: 0.5em;
      font-family: "BebasNeueBold", sans-serif;
      color: #fff;
      font-size: 2em;
      max-width: 320px;
      margin-bottom: 1em; }
    #blog .item p {
      text-align: left;
      font-size: 0.9em;
      text-transform: none;
      max-width: 400px;
      font-family: "Open Sans", sans-serif; }

#contact {
  background-image: url("../../../images/bg-lg-04.jpg");
  height: 516px; }
  #contact h2 {
    position: relative;
    float: left;
    margin-top: 40px;
    font-size: 2.5em;
    width: 100%; }
    #contact h2 a {
      color: #fff !important;
      font-family: "BebasNeueLight", sans-serif !important;
      font-size: 1em;
      font-weight: normal;
      text-align: center;
      letter-spacing: 2px;
      width: 100%;
      position: relative;
      float: left; }
      #contact h2 a span {
        font-family: "BebasNeueBold", sans-serif !important; }
  #contact h3 {
    color: #fff !important;
    font-family: "BebasNeueLight", sans-serif !important;
    font-size: 2em;
    font-weight: normal;
    text-align: center;
    letter-spacing: 2px;
    width: 100%;
    position: relative;
    float: left; }
    #contact h3 span {
      font-family: "BebasNeueBold", sans-serif !important; }
  #contact footer {
    position: relative;
    float: left;
    width: 100%;
    margin-top: 5em;
    padding-left: 17em;
    padding-right: 17em; }
    #contact footer ul {
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: space-between;
      width: 100%;
      align-items: center; }
      #contact footer ul li {
        list-style: none; }
  @media only screen and (max-width: 1200px) {
    #contact {
      background-image: url("../../../images/bg-md-04.jpg");
      height: 323px; } }
  @media only screen and (max-width: 768px) {
    #contact {
      background-image: url("../../../images/bg-sm-04.jpg");
      height: 207px; } }
