@font-face {
  font-family: "BebasNeueBold";
  src: url("../../../fonts/BebasNeueBold.eot?") format("eot"), url("../../../fonts/BebasNeueBold.woff") format("woff"), url("../../../fonts/BebasNeueBold.ttf") format("truetype"), url("../../../fonts/BebasNeueBold.svg#BebasNeueBold") format("svg"); }

@font-face {
  font-family: "BebasNeueLight";
  src: url("../../../fonts/BebasNeueLight.eot?") format("eot"), url("../../../fonts/BebasNeueLight.woff") format("woff"), url("../../../fonts/BebasNeueLight.ttf") format("truetype"), url("../../../fonts/BebasNeueLight.svg#BebasNeueLight") format("svg"); }

@font-face {
  font-family: "BebasNeueRegular";
  src: url("../../../fonts/BebasNeueRegular.eot?") format("eot"), url("../../../fonts/BebasNeueRegular.woff") format("woff"), url("../../../fonts/BebasNeueRegular.ttf") format("truetype"), url("../../../fonts/BebasNeueRegular.svg#BebasNeueRegular") format("svg"); }

@font-face {
  font-family: "Neoneon";
  src: url("../../../fonts/Neoneon.eot?") format("eot"), url("../../../fonts/Neoneon.woff") format("woff"), url("../../../fonts/Neoneon.ttf") format("truetype"), url("../../../fonts/Neoneon.svg#Neoneon") format("svg"); }

body {
  color: #fff;
  background-color: #000;
  font-size: 14px; }
  @media only screen and (max-width: 1200px) {
    body {
      font-size: 12px; } }
  @media only screen and (max-width: 768px) {
    body {
      font-size: 10px; } }

/* Extends */
.bgs, #home, #group-bg, #blog, #contact {
  position: relative;
  float: left;
  width: 100%;
  background-position: top center;
  background-size: cover; }

.title-big, #group-bg #videos h1, #group-bg #videos h2, #group-bg #agenda h1, #contact h1 {
  margin-top: 60px;
  font-size: 6em;
  font-family: "Neoneon", sans-serif !important;
  color: #fff !important;
  position: relative;
  float: left;
  width: 100%;
  text-align: center;
  text-shadow: 4px 5px 8px rgba(0, 0, 0, 0.4); }

#home {
  background-image: url("../../../images/bg-lg-01.jpg");
  height: 1124px;
  /* Menu */
  /* Social Icons */ }
  @media only screen and (max-width: 1200px) {
    #home {
      background-image: url("../../../images/bg-md-01.jpg");
      height: 703px; } }
  @media only screen and (max-width: 768px) {
    #home {
      background-image: url("../../../images/bg-sm-01.jpg");
      height: 450px; } }
  #home nav {
    margin-top: 10em;
    margin-left: 15em;
    margin-right: 17em; }
    #home nav ul {
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: space-between;
      width: 100%;
      align-items: center; }
      #home nav ul li {
        list-style: none; }
        #home nav ul li a {
          position: relative;
          float: left;
          font-size: 2.7em;
          color: rgba(255, 255, 255, 0.9);
          text-shadow: 4px 5px 8px rgba(0, 0, 0, 0.4);
          font-family: "BebasNeueRegular", sans-serif;
          font-weight: normal; }
          #home nav ul li a::after {
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            height: 4px;
            background: rgba(255, 255, 255, 0.9);
            content: '';
            opacity: 0;
            -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
            -moz-transition: opacity 0.3s, -moz-transform 0.3s;
            transition: opacity 0.3s, transform 0.3s;
            -webkit-transform: translateY(10px);
            -moz-transform: translateY(10px);
            transform: translateY(10px); }
            @media only screen and (max-width: 1200px) {
              #home nav ul li a::after {
                height: 2px; } }
          #home nav ul li a:hover::after, #home nav ul li a:focus::after {
            opacity: 1;
            -webkit-transform: translateY(0px);
            -moz-transform: translateY(0px);
            transform: translateY(0px); }
    @media only screen and (max-width: 1200px) {
      #home nav {
        margin-top: 7.5em;
        margin-left: 16em;
        margin-right: 18em; }
        #home nav ul li a {
          font-size: 2.2em; } }
    @media only screen and (max-width: 992px) {
      #home nav {
        margin-top: 7.5em;
        margin-left: 10em;
        margin-right: 12em; }
        #home nav ul li a {
          font-size: 2em; } }
    @media only screen and (max-width: 768px) {
      #home nav {
        display: none; } }
  #home .social-icons {
    position: relative;
    margin-top: 47em;
    margin-left: 6em;
    margin-right: 9em; }
    #home .social-icons ul {
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: space-between;
      width: 100%;
      align-items: center; }
      #home .social-icons ul li {
        list-style: none; }
        #home .social-icons ul li a {
          position: relative;
          float: left; }
          #home .social-icons ul li a img {
            height: 100px;
            width: 100px; }
    @media only screen and (max-width: 1200px) {
      #home .social-icons {
        margin-left: 16em;
        margin-right: 18em;
        margin-top: 35em; }
        #home .social-icons ul li a img {
          height: 60px;
          width: 60px; } }
    @media only screen and (max-width: 992px) {
      #home .social-icons {
        margin-left: 7em;
        margin-right: 8em;
        margin-top: 35em; }
        #home .social-icons ul li a img {
          height: 50px;
          width: 50px; } }
    @media only screen and (max-width: 768px) {
      #home .social-icons {
        margin-left: 5em;
        margin-right: 5em; } }
    @media only screen and (max-width: 480px) {
      #home .social-icons {
        margin-left: 1em;
        margin-right: 1em; } }
    @media only screen and (max-width: 320px) {
      #home .social-icons {
        margin-left: 0em;
        margin-right: 0em; } }
  #home .button--ivana::before, #home .button--ivana::after {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -50px 0 0 -50px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    content: '';
    opacity: 0;
    pointer-events: none;
    box-shadow: 0 0 0 10px #fff; }
    @media only screen and (max-width: 1200px) {
      #home .button--ivana::before, #home .button--ivana::after {
        margin: -30px 0 0 -30px;
        width: 60px;
        height: 60px; } }
  #home .button--ivana:hover::before {
    -webkit-animation: animation-button-ivana-1 0.5s forwards;
    animation: animation-button-ivana-1 0.5s forwards; }
  #home .button--ivana:hover::after {
    -webkit-animation: animation-button-ivana-2 0.8s forwards;
    animation: animation-button-ivana-2 0.8s forwards;
    animation-delay: 0.1s;
    -webkit-animation-delay: 0.1s; }

#group-bg {
  background-image: url("../../../images/bg-lg-02.jpg");
  height: 1624px; }
  @media only screen and (max-width: 1200px) {
    #group-bg {
      background-image: url("../../../images/bg-md-02.jpg");
      height: 1015px; } }
  @media only screen and (max-width: 768px) {
    #group-bg {
      background-image: url("../../../images/bg-sm-02.jpg");
      height: 868px; } }
  #group-bg #videos h1 {
    margin-top: 0.5em; }
    @media only screen and (max-width: 1200px) {
      #group-bg #videos h1 {
        font-size: 4.5em; } }
    @media only screen and (max-width: 480px) {
      #group-bg #videos h1 {
        font-size: 3em; } }
  #group-bg #videos h2 {
    font-size: 4em;
    margin-top: 0.1em; }
    @media only screen and (max-width: 1200px) {
      #group-bg #videos h2 {
        font-size: 3em; } }
    @media only screen and (max-width: 480px) {
      #group-bg #videos h2 {
        font-size: 2em; } }
  #group-bg #videos .box-video {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    float: left;
    width: 100%;
    margin-top: 3em; }
    @media only screen and (max-width: 1200px) {
      #group-bg #videos .box-video {
        margin-top: 2em; } }
    #group-bg #videos .box-video .video-decoration {
      padding: 30px;
      background-image: url("../../../images/bg-video.png");
      background-position: center center;
      background-size: cover;
      width: 58em;
      height: 28em;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      float: left; }
      @media only screen and (max-width: 992px) {
        #group-bg #videos .box-video .video-decoration {
          padding: 0px;
          background-image: none;
          width: 53em;
          height: 28em; } }
      @media only screen and (max-width: 768px) {
        #group-bg #videos .box-video .video-decoration {
          width: 100%; } }
      #group-bg #videos .box-video .video-decoration .video {
        border: 15px solid black;
        border-top-width: 5px;
        border-bottom-width: 5px;
        height: 110%;
        width: 93%;
        margin-left: 25px;
        border-radius: 21px; }
        @media only screen and (max-width: 1200px) {
          #group-bg #videos .box-video .video-decoration .video {
            border: 15px solid black;
            border-top-width: 5px;
            border-bottom-width: 5px;
            height: 114%;
            width: 94%;
            margin-left: 25px;
            border-radius: 15px; } }
        @media only screen and (max-width: 992px) {
          #group-bg #videos .box-video .video-decoration .video {
            border: none;
            border-radius: 0px;
            height: 100%;
            width: 100%;
            margin: 0px; } }
  #group-bg #agenda h1 {
    margin-top: 0.9em !important;
    margin-bottom: 0.9em !important; }
    @media only screen and (max-width: 1200px) {
      #group-bg #agenda h1 {
        margin-top: 0.7em !important;
        margin-bottom: 0.7em !important;
        font-size: 4.5em; } }
  #group-bg #agenda .row {
    margin: 0px;
    margin-bottom: 40px; }
  #group-bg #agenda .last-row {
    margin: 0px; }
  #group-bg #agenda .item h1 {
    text-shadow: none !important;
    margin-top: 0 !important;
    margin-bottom: 5px !important;
    font-size: 8em;
    text-align: left; }
  #group-bg #agenda .item h2 {
    font-size: 4em;
    font-family: "Neoneon", sans-serif !important;
    color: #fff !important;
    position: relative;
    float: left;
    width: 100%;
    margin-top: -0.3em; }
  #group-bg #agenda .item .line-1 {
    margin-top: -0.3em; }
  #group-bg #agenda .item .line-3 {
    font-family: "BebasNeueBold", sans-serif; }
  #group-bg #agenda .item .line {
    position: relative;
    float: left;
    width: 100%;
    font-size: 2em;
    margin: 0px;
    line-height: 1em; }
  #group-bg #agenda .item .col-agenda {
    padding: 0px 30px;
    border-left: 2px solid #fff; }
  #group-bg #agenda .carrousel-agenda-mobile .item {
    position: relative;
    float: left;
    width: 75%;
    padding: 3em;
    border: 1px solid #fff;
    margin-left: 12.4%;
    margin-right: 5%;
    text-align: center !important; }
    #group-bg #agenda .carrousel-agenda-mobile .item h1 {
      font-size: 6em !important;
      text-align: center !important; }
    #group-bg #agenda .carrousel-agenda-mobile .item h2 {
      font-size: 3em !important;
      text-align: center !important; }

#blog {
  background-image: url("../../../images/bg-lg-03.jpg");
  height: 580px; }
  @media only screen and (max-width: 1200px) {
    #blog {
      background-image: url("../../../images/bg-md-03.jpg");
      height: 363px; } }
  @media only screen and (max-width: 768px) {
    #blog {
      background-image: url("../../../images/bg-sm-03.jpg");
      height: 232px; } }
  #blog .item {
    text-align: center;
    margin-top: 4em; }
    @media only screen and (max-width: 992px) {
      #blog .item {
        margin-top: 3em; } }
    @media only screen and (max-width: 768px) {
      #blog .item {
        margin-top: 1.5em; } }
    #blog .item img {
      width: 80%;
      margin: 0 auto;
      margin-bottom: 12px;
      box-shadow: 7px 4px 8px 0px rgba(0, 0, 0, 0.39); }
      @media only screen and (max-width: 1200px) {
        #blog .item img {
          width: 60%; } }
    #blog .item h1 {
      text-align: left;
      margin-top: 0em;
      font-family: "BebasNeueRegular", sans-serif;
      color: #fff;
      font-size: 4em;
      max-width: 320px;
      margin-bottom: 0em;
      text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2); }
      @media only screen and (max-width: 1200px) {
        #blog .item h1 {
          font-size: 3em;
          max-width: initial; } }
      @media only screen and (max-width: 768px) {
        #blog .item h1 {
          font-size: 2.5em;
          margin-bottom: 0.5em; } }
    #blog .item h2 {
      text-align: left;
      margin-top: 0.5em;
      font-family: "BebasNeueBold", sans-serif;
      color: #fff;
      font-size: 2em;
      max-width: 320px;
      margin-bottom: 1em;
      text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2); }
      @media only screen and (max-width: 1200px) {
        #blog .item h2 {
          font-size: 1.5em;
          max-width: initial;
          margin-bottom: 0.5em; } }
      @media only screen and (max-width: 768px) {
        #blog .item h2 {
          display: none; } }
    #blog .item p {
      text-align: left;
      font-size: 0.9em;
      text-transform: none;
      max-width: 400px;
      font-family: "Open Sans", sans-serif; }
      @media only screen and (max-width: 768px) {
        #blog .item p {
          font-size: 1em;
          max-width: initial; } }
      @media only screen and (max-width: 480px) {
        #blog .item p {
          font-size: 0.9em;
          max-width: initial; } }

#contact {
  background-image: url("../../../images/bg-lg-04.jpg");
  height: 516px; }
  @media only screen and (max-width: 1200px) {
    #contact h1 {
      font-size: 3em;
      margin-top: 1em;
      margin-bottom: 0px; } }
  #contact h2 {
    position: relative;
    float: left;
    margin-top: 40px;
    font-size: 2.5em;
    width: 100%; }
    @media only screen and (max-width: 1200px) {
      #contact h2 {
        font-size: 2em;
        margin-top: 0.8em;
        margin-bottom: 0px; } }
    #contact h2 a {
      color: #fff !important;
      font-family: "BebasNeueLight", sans-serif !important;
      font-size: 1em;
      font-weight: normal;
      text-align: center;
      letter-spacing: 2px;
      width: 100%;
      position: relative;
      float: left; }
      #contact h2 a span {
        font-family: "BebasNeueBold", sans-serif !important; }
  #contact h3 {
    color: #fff !important;
    font-family: "BebasNeueLight", sans-serif !important;
    font-size: 2em;
    font-weight: normal;
    text-align: center;
    letter-spacing: 2px;
    width: 100%;
    position: relative;
    float: left; }
    #contact h3 span {
      font-family: "BebasNeueBold", sans-serif !important; }
  #contact footer {
    position: relative;
    float: left;
    width: 100%;
    margin-top: 5em;
    padding-left: 17em;
    padding-right: 17em; }
    @media only screen and (max-width: 1200px) {
      #contact footer {
        margin-top: 2em; } }
    @media only screen and (max-width: 992px) {
      #contact footer {
        margin-top: 2em;
        padding-left: 2em;
        padding-right: 2em; } }
    @media only screen and (max-width: 768px) {
      #contact footer {
        margin-top: 1em;
        padding-left: 1em;
        padding-right: 1em; } }
    #contact footer ul {
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: space-between;
      width: 100%;
      align-items: center; }
      #contact footer ul li {
        list-style: none; }
        #contact footer ul li a img {
          -webkit-transition: all 0.15s ease-in-out 0s;
          -moz-transform: all 0.15s ease-in-out 0s;
          -ms-transition: all 0.15s ease-in-out 0s;
          transition: all 0.15s ease-in-out 0s; }
          @media only screen and (max-width: 992px) {
            #contact footer ul li a img {
              height: 60px; } }
          #contact footer ul li a img:hover {
            -webkit-transform: scale(0.9);
            -ms-transform: scale(0.9);
            transform: scale(0.9); }
  @media only screen and (max-width: 1200px) {
    #contact {
      background-image: url("../../../images/bg-md-04.jpg");
      height: 323px; } }
  @media only screen and (max-width: 768px) {
    #contact {
      background-image: url("../../../images/bg-sm-04.jpg");
      height: 207px; } }
