@-webkit-keyframes animation-button-ivana-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.5, 0.5, 1);
    transform: scale3d(0.5, 0.5, 1); }
  50% {
    opacity: 1; }
  100% {
    opacity: 0;
    -webkit-transform: scale3d(1.1, 1.1, 1);
    transform: scale3d(1.1, 1.1, 1); } }

@keyframes animation-button-ivana-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.5, 0.5, 1);
    transform: scale3d(0.5, 0.5, 1); }
  50% {
    opacity: 1; }
  100% {
    opacity: 0;
    -webkit-transform: scale3d(1.1, 1.1, 1);
    transform: scale3d(1.1, 1.1, 1); } }

@-webkit-keyframes animation-button-ivana-2 {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.5, 0.5, 1);
    transform: scale3d(0.5, 0.5, 1); }
  50% {
    opacity: 1; }
  100% {
    opacity: 0;
    -webkit-transform: scale3d(1.1, 1.1, 1);
    transform: scale3d(1.1, 1.1, 1); } }

@keyframes animation-button-ivana-2 {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.5, 0.5, 1);
    transform: scale3d(0.5, 0.5, 1); }
  50% {
    opacity: 1; }
  100% {
    opacity: 0;
    -webkit-transform: scale3d(1.2, 1.2, 1);
    transform: scale3d(1.2, 1.2, 1); } }

@font-face {
  font-family: "BebasNeueBold";
  src: url("../../../fonts/BebasNeueBold.eot?") format("eot"), url("../../../fonts/BebasNeueBold.woff") format("woff"), url("../../../fonts/BebasNeueBold.ttf") format("truetype"), url("../../../fonts/BebasNeueBold.svg#BebasNeueBold") format("svg"); }

@font-face {
  font-family: "BebasNeueLight";
  src: url("../../../fonts/BebasNeueLight.eot?") format("eot"), url("../../../fonts/BebasNeueLight.woff") format("woff"), url("../../../fonts/BebasNeueLight.ttf") format("truetype"), url("../../../fonts/BebasNeueLight.svg#BebasNeueLight") format("svg"); }

@font-face {
  font-family: "BebasNeueRegular";
  src: url("../../../fonts/BebasNeueRegular.eot?") format("eot"), url("../../../fonts/BebasNeueRegular.woff") format("woff"), url("../../../fonts/BebasNeueRegular.ttf") format("truetype"), url("../../../fonts/BebasNeueRegular.svg#BebasNeueRegular") format("svg"); }

@font-face {
  font-family: "Neoneon";
  src: url("../../../fonts/Neoneon.eot?") format("eot"), url("../../../fonts/Neoneon.woff") format("woff"), url("../../../fonts/Neoneon.ttf") format("truetype"), url("../../../fonts/Neoneon.svg#Neoneon") format("svg"); }

.carousel-default, .carrousel-agenda-mobile {
  position: relative;
  float: left;
  width: 100%; }

.owl-carousel .owl-nav {
  position: absolute;
  top: calc(50% - 25px);
  margin: 0px;
  width: 100%; }
  .owl-carousel .owl-nav .owl-prev {
    background: none;
    padding: 0px;
    border-radius: 0px;
    float: left; }
    .owl-carousel .owl-nav .owl-prev:hover {
      background-color: transparent; }
    .owl-carousel .owl-nav .owl-prev .arrow-prev {
      height: 50px;
      width: 50px;
      position: relative;
      float: left;
      background-image: url("../../../images/arrow-prev.svg");
      margin-left: -30px;
      -webkit-transition: all 0.15s ease-in-out 0s;
      -moz-transform: all 0.15s ease-in-out 0s;
      -ms-transition: all 0.15s ease-in-out 0s;
      transition: all 0.15s ease-in-out 0s; }
      @media only screen and (max-width: 992px) {
        .owl-carousel .owl-nav .owl-prev .arrow-prev {
          margin-right: 0px; } }
      .owl-carousel .owl-nav .owl-prev .arrow-prev:hover {
        -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9); }
  .owl-carousel .owl-nav .owl-next {
    background: none;
    padding: 0px;
    border-radius: 0px;
    float: right; }
    .owl-carousel .owl-nav .owl-next:hover {
      background-color: transparent; }
    .owl-carousel .owl-nav .owl-next .arrow-next {
      height: 50px;
      width: 50px;
      position: relative;
      float: left;
      background-image: url("../../../images/arrow-next.svg");
      margin-right: -30px;
      -webkit-transition: all 0.15s ease-in-out 0s;
      -moz-transform: all 0.15s ease-in-out 0s;
      -ms-transition: all 0.15s ease-in-out 0s;
      transition: all 0.15s ease-in-out 0s; }
      @media only screen and (max-width: 992px) {
        .owl-carousel .owl-nav .owl-next .arrow-next {
          margin-right: 0px; } }
      .owl-carousel .owl-nav .owl-next .arrow-next:hover {
        -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9); }

.owl-carousel .owl-dots {
  margin-top: 1em; }
  .owl-carousel .owl-dots .owl-dot span {
    width: 15px;
    height: 15px;
    -webkit-transition: all 0.15s ease-in-out 0s;
    -moz-transform: all 0.15s ease-in-out 0s;
    -ms-transition: all 0.15s ease-in-out 0s;
    transition: all 0.15s ease-in-out 0s; }
    @media only screen and (max-width: 992px) {
      .owl-carousel .owl-dots .owl-dot span {
        width: 7px;
        height: 7px; } }
  .owl-carousel .owl-dots .owl-dot.active span {
    background: #02e2fe; }
  .owl-carousel .owl-dots .owl-dot:hover span {
    background: #02e2fe; }

.carrousel-agenda .item {
  position: relative;
  float: left;
  width: 100%;
  margin-left: 3em; }

.carrousel-agenda .owl-nav {
  top: calc(50% - 49px); }

.carrousel-agenda .owl-dots .owl-dot {
  margin-top: 1em; }
  .carrousel-agenda .owl-dots .owl-dot.active span {
    background: #61216f !important; }
  .carrousel-agenda .owl-dots .owl-dot:hover span {
    background: #61216f !important; }

.carrousel-agenda-mobile .item {
  position: relative;
  float: left;
  width: 100%;
  margin-left: 3em; }

.carrousel-agenda-mobile .owl-nav {
  top: calc(50% - 49px); }

.carrousel-agenda-mobile .owl-dots .owl-dot {
  margin-top: 1em; }
  .carrousel-agenda-mobile .owl-dots .owl-dot.active span {
    background: #61216f !important; }
  .carrousel-agenda-mobile .owl-dots .owl-dot:hover span {
    background: #61216f !important; }

.carrousel-blog .owl-dots .owl-dot {
  margin-top: 1em; }
  .carrousel-blog .owl-dots .owl-dot.active span {
    background: #213d7c !important; }
  .carrousel-blog .owl-dots .owl-dot:hover span {
    background: #213d7c !important; }
  @media only screen and (max-width: 1200px) {
    .carrousel-blog .owl-dots .owl-dot {
      margin-top: 0px; } }

@media only screen and (max-width: 1200px) {
  .carrousel-blog .owl-dots {
    margin-top: 0px; } }

@media only screen and (max-width: 992px) {
  .owl-carousel .owl-nav .owl-next {
    margin-right: -60px; }
  .owl-carousel .owl-nav .owl-prev {
    margin-left: -25px; } }

@media only screen and (max-width: 866px) {
  .owl-carousel .owl-nav .owl-next {
    display: none; }
  .owl-carousel .owl-nav .owl-prev {
    display: none; } }

* {
  outline: none; }

body {
  font-size: 14px;
  font-family: "BebasNeueRegular", sans-serif;
  background-color: #fff;
  color: #000; }

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility; }

input, textarea, select {
  -webkit-appearance: none;
  border-radius: 0px; }

a {
  color: #000;
  text-decoration: none; }
  a:hover {
    color: #000;
    text-decoration: none; }
  a:focus {
    color: #000;
    text-decoration: none; }
  a:active {
    color: #000;
    text-decoration: none; }
  a:visited {
    color: #000;
    text-decoration: none; }

::-moz-selection {
  color: #213d7c;
  background: #000; }

::selection {
  color: #213d7c;
  background: #000; }

h1, h2, h3, h4 {
  font-family: "BebasNeueRegular", sans-serif;
  color: #000; }

h1 {
  font-size: 4.8em;
  font-weight: 600; }

h2 {
  font-size: 3.8em;
  font-weight: 600; }

h3 {
  font-size: 2.8em;
  font-weight: 600; }

h4 {
  font-size: 1.8em;
  font-weight: 600; }

.title-decorative {
  font-family: "Neoneon", sans-serif;
  color: #FF0000;
  font-size: 0.8em;
  letter-spacing: 5px;
  text-transform: uppercase;
  margin-top: 100px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center; }
  .title-decorative:after {
    content: '';
    height: 60px;
    width: 2px;
    background: #B0B0B0;
    position: absolute;
    top: 15px;
    left: calc(50% - 1px); }
    @media only screen and (max-width: 992px) {
      .title-decorative:after {
        top: -50px;
        height: 30px; } }

.title-no-line {
  margin-top: 20px; }
  .title-no-line:after {
    display: none !important; }

.title-small {
  font-family: "Neoneon", sans-serif;
  color: #FF0000;
  font-size: 0.8em;
  letter-spacing: 5px;
  text-transform: uppercase; }

.title-big {
  font-size: 3.5em;
  font-weight: 700;
  line-height: 1.2em; }
  @media only screen and (max-width: 480px) {
    .title-big {
      font-size: 2.5em !important; } }

p {
  font-size: 1em; }

.p-default {
  font-weight: 300;
  font-size: 1em;
  line-height: 1.65em; }
  @media only screen and (max-width: 992px) {
    .p-default {
      font-size: 0.95em;
      line-height: 1.5em; } }

.center {
  text-align: center; }

.img-center {
  margin: 0 auto; }

.no-margin {
  margin: 0px; }

.no-padding {
  padding: 0px; }

.clear {
  clear: both; }

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.first-section {
  margin-top: 140px;
  position: relative;
  float: left;
  width: 100%; }
  @media only screen and (max-width: 992px) {
    .first-section {
      margin-top: 70px !important;
      padding-top: 50px !important; } }
  @media only screen and (max-width: 480px) {
    .first-section {
      margin-top: 60px !important;
      padding-top: 40px !important; } }

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #EEEEEE;
  z-index: 99999;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; }

.preload-img {
  z-index: 99999;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center; }
  .preload-img img {
    height: 200px;
    width: 295px; }
