@font-face {
  font-family: "LeagueSpartan-Bold";
  src: url("../../../fonts/LeagueSpartan-Bold.eot?") format("eot"), url("../../../fonts/LeagueSpartan-Bold.woff") format("woff"), url("../../../fonts/LeagueSpartan-Bold.ttf") format("truetype"), url("../../../fonts/LeagueSpartan-Bold.svg#LeagueSpartan-Bold") format("svg"); }

.carousel-default .owl-nav {
  margin-top: 8px !important;
  position: absolute;
  right: 0; }
  .carousel-default .owl-nav .owl-prev, .carousel-default .owl-nav .owl-next {
    margin: 0 !important;
    padding: 0 !important;
    background-color: transparent !important; }
  .carousel-default .owl-nav .owl-prev {
    margin-right: 48px !important; }

.carousel-default .nav-left {
  content: url("../../../images/base/esss-base-nav-left.svg");
  height: 15px;
  width: 15px; }

.carousel-default .nav-right {
  content: url("../../../images/base/esss-base-nav-right.svg");
  height: 15px;
  width: 15px; }

.carousel-default .owl-dots {
  position: absolute;
  margin-top: 10px;
  right: 15px;
  min-width: 50px;
  counter-reset: slides-num;
  font-size: 0.85em;
  font-family: "LeagueSpartan-Bold", sans-serif; }
  .carousel-default .owl-dots:after {
    content: " " counter(slides-num); }

.carousel-default .owl-dot {
  counter-increment: slides-num; }
  .carousel-default .owl-dot span {
    display: none !important; }
  .carousel-default .owl-dot.active:before {
    content: counter(slides-num) " /"; }

* {
  outline: none; }

body {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  background-color: #fff;
  color: #000; }

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility; }

input, textarea, select {
  -webkit-appearance: none;
  border-radius: 0px; }

a {
  color: #000;
  text-decoration: none; }
  a:hover {
    color: #000;
    text-decoration: none; }
  a:focus {
    color: #000;
    text-decoration: none; }
  a:active {
    color: #000;
    text-decoration: none; }
  a:visited {
    color: #000;
    text-decoration: none; }

::-moz-selection {
  color: #FF0000;
  background: #EEEEEE; }

::selection {
  color: #FF0000;
  background: #EEEEEE; }

h1, h2, h3, h4 {
  font-family: "Poppins", sans-serif;
  color: #000; }

h1 {
  font-size: 4.8em;
  font-weight: 600; }

h2 {
  font-size: 3.8em;
  font-weight: 600; }

h3 {
  font-size: 2.8em;
  font-weight: 600; }

h4 {
  font-size: 1.8em;
  font-weight: 600; }

.title-decorative {
  font-family: "LeagueSpartan-Bold", sans-serif;
  color: #FF0000;
  font-size: 0.8em;
  letter-spacing: 5px;
  text-transform: uppercase;
  margin-top: 100px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center; }
  .title-decorative:after {
    content: '';
    height: 60px;
    width: 2px;
    background: #B0B0B0;
    position: absolute;
    top: 15px;
    left: calc(50% - 1px); }
    @media only screen and (max-width: 992px) {
      .title-decorative:after {
        top: -50px;
        height: 30px; } }

.title-no-line {
  margin-top: 20px; }
  .title-no-line:after {
    display: none !important; }

.title-small {
  font-family: "LeagueSpartan-Bold", sans-serif;
  color: #FF0000;
  font-size: 0.8em;
  letter-spacing: 5px;
  text-transform: uppercase; }

.title-big {
  font-size: 3.5em;
  font-weight: 700;
  line-height: 1.2em; }
  @media only screen and (max-width: 480px) {
    .title-big {
      font-size: 2.5em !important; } }

p {
  font-size: 1em; }

.p-default {
  font-weight: 300;
  font-size: 1em;
  line-height: 1.65em; }
  @media only screen and (max-width: 992px) {
    .p-default {
      font-size: 0.95em;
      line-height: 1.5em; } }

.center {
  text-align: center; }

.img-center {
  margin: 0 auto; }

.no-margin {
  margin: 0px; }

.no-padding {
  padding: 0px; }

.clear {
  clear: both; }

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.first-section {
  margin-top: 140px;
  position: relative;
  float: left;
  width: 100%; }
  @media only screen and (max-width: 992px) {
    .first-section {
      margin-top: 70px !important;
      padding-top: 50px !important; } }
  @media only screen and (max-width: 480px) {
    .first-section {
      margin-top: 60px !important;
      padding-top: 40px !important; } }

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #EEEEEE;
  z-index: 99999;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; }

.preload-img {
  z-index: 99999;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center; }
  .preload-img img {
    height: 200px;
    width: 295px; }
